.slides {
    min-height: 100vh;
    position: relative;
    &__item::before {
        content: "";
        background-image: url('assets/images/bg/pattern.png');
        background-color: $color-negro;
        opacity: .6;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__description {
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
        color: $color-blanco;
        z-index: 1;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        margin-top: 1rem;

    }
    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 1.3rem;
        font-family: 'Dancing Script', cursive;
        @media screen and (min-width: $tablet) {
            margin-bottom: 1.5rem;
            font-size: 4rem
        }
    }
    &__subtitle {
        font-size: 1.1rem;
        font-weight: 300;
        @media screen and (min-width: $tablet) {
            font-size: 1.3rem
        }
    }
    &__button {
        display: inline-block;
        margin-top: 2rem;
        padding: 1rem .8em;
        border: 1px solid $color-blanco;
        color: $color-blanco;
        transition: all .3s;
        text-transform: uppercase;
        font-size: .7rem;
        letter-spacing: 2px;
        font-weight: 700;
        @media screen and (min-width: $tablet) {
            font-size: .8rem;
            margin-top: 2.5rem;
        }
        &:hover {
            background-color: $color-marron;
            border-color: transparent;
        }
    }
}
