footer.footer
    .footer__container
        img.footer__image(src="assets/images/img/logotipo.png", alt="Logotipo Restaurant")
        p.footer__paragraph El placer del buen comer
        nav.social
            ul.social__menu
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-facebook-f.social__icon
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-twitter.social__icon
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-dribbble.social__icon
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-flickr.social__icon
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-google-plus-g.social__icon
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-pinterest.social__icon
                li.social__item
                    a.social__link(href="#")
                        i.fab.fa-skype.social__icon
        .footer__copyright &copy; 2020 #[span.footer__lighlight Restaurant Monterrey]. #[span.footer__newline Todos los derechos reservados]
