section.gallery#gallery
    .gallery__container
        h3.gallery__title Galería
        ul.gallery__content
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-01.jpg", alt="imagen 01")
                a.gallery__button#ilightbox-01(href="assets/images/gallery/img-01.jpg", data-title="Tacos de conejo", data-caption="A que no puedes comer solo uno, el octavo va por nuestra cuenta", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-02.jpg", alt="imagen 02")
                a.gallery__button#ilightbox-02(href="assets/images/gallery/img-02.jpg", data-title="Tacos de barbacoa", data-caption="Carne preparada a base de horno estilo capulhuac", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-03.jpg", alt="imagen 03")
                a.gallery__button#ilightbox-03(href="assets/images/gallery/img-03.jpg", data-title="Muslo empanizado", data-caption="Deliciosos muslitos empanizados acompañados con ensalada rusa", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-04.jpg", alt="imagen 04")
                a.gallery__button#ilightbox-04(href="assets/images/gallery/img-04.jpg", data-title="Costillitas de cerdo", data-caption="Pruebe nuestos delicisos tacos de costillita de cerdo ahumado", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-05.jpg", alt="imagen 05")
                a.gallery__button#ilightbox-05(href="assets/images/gallery/img-05.jpg", data-title="Costillitas de res", data-caption="Deliciosas costillitas de res acompañadas de salsa serrana", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-06.jpg", alt="imagen 06")
                a.gallery__button#ilightbox-06(href="assets/images/gallery/img-06.jpg", data-title="Pollo rostizado con salchichas", data-caption="Pruebe nuestros deliciosos menús de fin de semana", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-07.jpg", alt="imagen 07")
                a.gallery__button#ilightbox-07(href="assets/images/gallery/img-07.jpg", data-title="Tacos de pollo", data-caption="Para los amantes del deporte, contamos con tacos light", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
            li.gallery__item
                img.gallery__image(src="assets/images/gallery/img-08.jpg", alt="imagen 08")
                a.gallery__button#ilightbox-08(href="assets/images/gallery/img-08.jpg", data-title="Tacos de tinga", data-caption="Pruebe nuestra especialidad en la comodidad de su casa", data-options="skin: 'dark'")
                    i.fas.fa-info-circle.gallery__icon
