section.promotions#promotions
    .promotions__container
        h3.promotions__title Promociones
        ul.carousel
            li.carousel__item
                figure.card
                    img.card__image(src="assets/images/carousel/promo-01.jpg", alt="")
                    figcaption.card__body
                        h5.card__title Pizza Honolulu
                        p.card__description La pizza con la perfecta combinación dulce-salado #[br]Ingredientes: Jamón, Piña, Tocino y Jalapeño.
                        a.card__button(href="#") Más información
            li.carousel__item
                figure.card
                    img.card__image(src="assets/images/carousel/promo-02.jpg", alt="")
                    figcaption.card__body
                        h5.card__title Pizza Hawaiana
                        p.card__description La pizza que unos cuestionan pero que todos aman, #[br]Ingredientes: Jamón y Piña.
                        a.card__button(href="#") Más información
            li.carousel__item
                figure.card
                    img.card__image(src="assets/images/carousel/promo-03.jpg", alt="")
                    figcaption.card__body
                        h5.card__title Pizza Carnes Frías
                        p.card__description La pizza para los amantes de la carne. #[br]Ingredientes: Pepperoni, Salami, Jamón, Longaniza y Finas hierbas.
                        a.card__button(href="#") Más información
            li.carousel__item
                figure.card
                    img.card__image(src="assets/images/carousel/promo-04.jpg", alt="")
                    figcaption.card__body
                        h5.card__title Pizza Veggie
                        p.card__description La pizza para los amantes de los vegetales y la carne #[br]Ingredientes: Jamón, Pimiento, Champiñones y Cebolla.
                        a.card__button(href="#") Más información
