section.slides#home
    ul.slides-container.slides__container
        li.slides__item
            img.slides__image(src="assets/images/sliders/slider-01.jpg")
            div.slides__description
                h4.slides__title Tacos de barbacoa
                p.slides__subtitle Deleitese con un extenso surtido de platillos preparados con carne de borrego
                a.slides__button(href="#") Visite nuestro menu
        li.slides__item
            img.slides__image(src="assets/images/sliders/slider-02.jpg")
            div.slides__description
                h4.slides__title Cabrito asado
                p.slides__subtitle La especialidad de la casa preparada de forma clásica o a la diabla
                a.slides__button(href="#") Visite nuestro menu
        li.slides__item
            img.slides__image(src="assets/images/sliders/slider-03.jpg")
            div.slides__description
                h4.slides__title Tortas de bistec
                p.slides__subtitle Disfrute de una rica torta preparada a base de carne selecta de ternera
                a.slides__button(href="#") Visite nuestro menu
        li.slides__item
            img.slides__image(src="assets/images/sliders/slider-04.jpg")
            div.slides__description
                h4.slides__title Tacos de cabeza
                p.slides__subtitle Acompañelos con nuestra variedad extensa de salsas
                a.slides__button(href="#") Visite nuestro menu
        li.slides__item
            img.slides__image(src="assets/images/sliders/slider-05.jpg")
            div.slides__description
                h4.slides__title Birria poblana
                p.slides__subtitle Deleitese con un platillo preparado a base de recetas poblanas y norteñas
                a.slides__button(href="#") Visite nuestro menu
        li.slides__item
            img.slides__image(src="assets/images/sliders/slider-06.jpg")
            div.slides__description
                h4.slides__title Tacos de conejo
                p.slides__subtitle A que no puedes comer solo uno, el octavo va por nuestra cuenta
                a.slides__button(href="#") Visite nuestro menu
