section.top
    section.info
        .info__container
            .info__contact
                p.info__contact-info #[i.far.fa-envelope.info__contact-icon] #[a.info__contact-link(href="#") info@monterrey.com]
                p.info__contact-info #[i.fas.fa-phone.info__contact-icon] #[a.info__contact-link(href="#") 01713 1085064]
                a.info__contact-button(href="#") Reservaciones
    section.menu
        .menu__container
            h1.brand
                a.brand__link(href="/")
                    img.brand__image(src="assets/images/img/logotipo.png", alt="Logotipo Restaurant")
                span.brand__title Restaurant Monterrey
            a.menu__bars(href="#")
                i.fas.fa-bars.menu__icon
            nav.navigator
                ul.navigator__menu
                    li.navigator__item
                        a.navigator__link(href="#home") Bienvenidos
                    li.navigator__item
                        a.navigator__link(href="#about") Nosotros
                    li.navigator__item
                        a.navigator__link(href="#gallery") Galería
                    li.navigator__item
                        a.navigator__link(href="#promotions") Promociones
                    li.navigator__item
                        a.navigator__link(href="#contact") Contacto
